on:
  push:
    branches:
      - "prerelease/*"
name: Prerelease
permissions:
  contents: read

jobs:
  prerelease:
    permissions:
      contents: write  # for google-github-actions/release-please-action to create release commit
      pull-requests: write  # for google-github-actions/release-please-action to create release PR
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - uses: google-github-actions/release-please-action@db8f2c60ee802b3748b512940dde88eabd7b7e01 # v3.7.13
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          pull-request-title-pattern: "chore: prerelease ${version}"
          release-type: go
          package-name: rudder-server
          default-branch: ${{ steps.extract_branch.outputs.branch }}
          changelog-types: '
            [
            {
            "type": "feat",
            "section": "Features",
            "hidden": false
            },
            {
            "type": "fix",
            "section": "Bug Fixes",
            "hidden": false
            },
            {
            "type": "chore",
            "section":"Miscellaneous",
            "hidden": false},
            {
            "type": "refactor",
            "section": "Miscellaneous",
            "hidden": false
            },
            {
            "type": "test",
            "section": "Miscellaneous",
            "hidden": false
            },
            {
            "type": "doc",
            "section": "Documentation",
            "hidden": false
            }
            ]'
          prerelease: true
          release-as: ${{ steps.extract_branch.outputs.branch }}
